* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
}

.container{
    border: 1px solid rgb(226, 218, 218);
    background-color: rgb(226, 218, 218);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.color-options{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.col {
    height: 10px;
    width: 10px;
    border: 0.5px solid white;
}


.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.big-square{
    height: 100px;
    width: 100px;
    background-color: black;

}

button {
    cursor: grab;
}

.big-square {
    cursor: pointer;
}
